<html>
    <head>
        <title>WebLab25</title>
    </head>
    <body>
        <ul>
            <li><a href="DemoThymeleaf/accounts" th:href="@{accounts}">Display information about the accounts of a given client</a></li>
            <li><a href="DemoThymeleaf/paymentSum" th:href="@{paymentSum}">Display the sum of payments of a given client for a specified period</a></li>
            <li><a href="DemoThymeleaf/accountBalance" th:href="@{accountBalance}">Display the balance of a given client’s account</a></li>
            <li><a href="DemoThymeleaf/makeAPay" th:href="@{makeAPay}">Make a payment to another account</a></li>
            <li><a href="DemoThymeleaf/deactivateCard" th:href="@{deactivateCard}">Block the card</a></li>   
        </ul>
    </body>
</html>